{% load static %}
<html>
<head>
    <link rel="stylesheet" href = "{% static '/css/new.css' %}">
    <title> Agencies </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .divb{
        background-image: url("{% static '/Image/bkgrdhd.jpg'%}");
    }
    .divd{
        background-image: url("{% static '/Image/backgrd12.avif'%}");
    }
</style>

</head>


<body>  
    <div class="divb"> 
        <div class = "logo">
            <img src= "{% static '/Image/Newlogo.png'%}",  height = "200" , width = 250  >
            
        </div>
        <nav class = "head1">
            <div class = "menu-bar">
                <ul>
                    <li><a href="#">ABOUT US</a></li>

                    <li><a href="#">PRODUCTS</a>
                        <div class = "sub-menu-1">
                            <ul> 
                                <li><a href="{% static '/Image/colgate.html'%}">Colgate</a></li>
                                <li><a href="{% static '/Image/rose.html'%}">Rose</a></li>
                                <li><a href="#">Nestle</a></li>
                                <li><a href="#">Santoor</a></li>
                                <li><a href="#">Gold Drop</a></li>
                                <li><a href="#">Xtra</a></li>
                                <li><a href="#">parachute</a></li>
                                <li><a href="#">Allout</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">DEALER PROFILE</li>
                    <li><a href="#">INFRASTRUCTURE</li>
                    <li><a href="#">CONTACT US</li>
                </ul>
            </div>
            
           <div>

                <h1 class = 'SA1'> Srinivasa <br> Agencies</h1>
                <input type="button"  value="search item" name ="submit" class = "submit1"></input>
                <input type= "text" placeholder="search item" size = 25 class = "shit"></input>      


                    <div align="right" class="hd1"> 
                        <a href = "{% static '/Image/login.html'%}"> <input type="button" value="LOGIN" name ="submit" class = "lg1" ></input> </a> 
                        <a href = "{% static '/Image/SignIn.html'%}"> <input type="button" value="SIGN UP" name ="submit" class = "Sg1"></input> </a>
                    </div>
            </div> 
        </nav> 
       <br>
    </div>
    <center>
        <div class = "getIT">
            <h2>We Deliver, You Enjoy!</h1>
            <label> Get Item </label>
            <input type="address"  placeholder=" Let's start with your address" size = 40 class = "add1"></input>
        </div>
    </center>
    <br>
    <h1 class = "prd"> --- Products --- </h1>
    <div = class = "imgALL">
        <nav>
            <marquee behavior = "sc
            
            roll" direction = "left">
            <img src= "{% static '/Image/Image/NESTLEIND1.JPG'%}", title height = "350" , width = 500  >
            <img src= "{% static '/Image/Image/colgateitems.jpg'%}", title height = "350" , width = 500  >
            <img src= "{% static '/Image/Image/santooritems.webp'%}", title height = "350" , width = 500  >
            <img src= "{% static '/Image/Image/parachuteitems.avif'%}", title height = "350" , width = 500 >
            <img src= "{% static '/Image/Image/rose.png'%}", title height = "350" , width = 500 >
            <img src= "{% static '/Image/Image/golddropitems.jpg'%}", title height = "350" , width = 500 >
            <img src=  "{% static '/Image/Image/Image/Xtra.png'%}", title height = "350" , width = 500 >
            <img src = "{% static '/Image/Image/alloutitems.png'%}", title height = "350" , width = 500 >
            </marquee>
        </nav>
    </div>  
            <marquee behavior = "scroll" direction = "left">
    <div = class = "imgALL1">

                <h1 class = "N1">NESTLE <h1>
          
                    <h1 class = "C1">COLGATE<h1>
                <h1 class = "S1">SANTOOR<h1>
                <h1 class = "P1">PARACHUTE<h1>
                <h1 class = "R1">ROSE COOKIES<h1>
                <h1 class = "G1">GOLD DROP</h1>
                <h1 class = "X1">XTRA</h1>
                <h1 class = "A1">ALL OUT</h1>
    </div>
            </marquee>
    <div class="divd">
    <center>
    <h1 class = "BRs"> BRANDS </h1>
    <div>
        <a href = "{% static '/Image/colgate.html'%}" >
            <img src= "{% static '/Image/Image/colgate.png'%}", class = "img1" title height = "260" , width = 250  >
        </a>
        <a href = "{% static '/Image/rose.html'%}"> 
            <img src= "{% static '/Image/Image/rose.png'%}", class = "img2" height = "250" , width = 250 ></a>
    </div>
    <div>
        <img src= "{% static '/Image/Image/Nestle.jpeg'%}", class = "img3" title height = "250" , width = 250  >
        <img src= "{% static '/Image/Image/santoor.JPG'%}", class = "img4" height = "250" , width = 250  >
+    </div>
    <div>
        <img src= "{% static '/Image/Image/gold drop.png'%}", class = "img5" height = "250" , width = 250  >
        <img src= "{% static '/Image/Image/Xtra.png'%}", class = "img6" height = "250" , width = 250  >
    </div>
    <div>
        <img src= "{% static '/Image/Image/parachute1.JPG'%}", class = "img7" height = "250" , width = 250 >
        <img src = "{% static '/Image/Image/Allout.png'%}", class = "img8" height = "250" , width = 250 >
    </div>
    <br>
    <br>
    </center>
</div>
</body>
<footer class="divc">
    <div class="row">
        <div class="col1">
            <h4>Our products </h4>
            <ul>
                <li><a href = "#"> Nestle </a></li>
                <li><a href = "#"> Colgate </a></li>
                <li><a href = "#"> Santoor </a></li>
                <li><a href = "#"> Rose </a></li>
                <li><a href = "#"> gold drop </a></li>
                <li><a href = "#"> Xtra </a></li>
                <li><a href = "#"> parachute </a></li>
                <li><a href = "#"> Allout </a></li>
            </ul> 
        </div>
        <div class="col2">
            <h3>Contact</h3>
            <ul>
                <li><a href = "#"> 12-41/B REDDY COLONY SIDDIPET TELANGANA INDIA 505467 </a></li>
                <li><a href = "#"> Mobile : 9849034276 </a></li>
                <li><a href = "#"> Email : kurapatiashish13@gmail.com </a></li>
            </ul>
        </div>
        <div class="col3">
            <h4>Get in Touch </h4>
            <ul>
                <li><a href = "#"> <i class="fa-brands fa-twitter"></i> </a></li>
                <li><a href = "#"> <i class="fa-brands fa-linkedin"></i> </a></li>
                <li><a href = "#"> <i class="fa-brands fa-facebook"></i> </a></li>
                <li><a href = "#"> <i class="fa-brands fa-instagram"></i> </a></li>
            </ul>            
        </div>
    </div>
    <div class = "footerBottom">
        <p>Copyright &copy;2024; Designed by <span class = "designer">Ashish Sadan</span></p>
    </div>
</footer>
</html>